body {
  margin: 0 auto;
  padding: 2em;
    height:100vh;
}

.splash {
  height: 100%;
}
.info {
  height: 100%;
}
.digitiser {
  font-size: 10em;
}

.imageAid {

  min-height: 30em;
  background-size: small;
  background-repeat: no-repeat;
}
